body{
	background-color: #d5ffff;
	font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

*{
	margin:0;
	padding: 0;
}

#header{
	background: #00dbe3;	
	color: #fff;
	position: fixed;
	width: 100%;
	padding: 15px;
	text-align: center;
	border-bottom: 1px solid #1a9599;
	box-shadow: 1px 1px 3px 1px #1a9599; 
}

.top_bar{
	background: url('background.jpg');
	padding: 23px;
	margin: 10px;
	padding-left: 50px;
}

.hidden {
	margin-top: 80px;
}

.jarak-left1{
	margin-left: 20px;
}

.btn {
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
	font-weight: 500;
}

.btn-biru {
	font-size: 14pt;
  	color: #fff;
  	background-color: #0036ff;
  	border: #0028bb;
  	box-shadow: none;
}

.btn-biru:hover {
	background-color: #002fdd;
	border-color: #545b62;
}

.btn-biru2 {
	font-size: 12pt;
  	color: #fff;
  	background-color: #0036ff;
  	border: #0028bb;
  	float: right;
  	margin-left: 20px;
  	box-shadow: none;
}

.btn-biru2:hover {
	background-color: #002fdd;
	border-color: #545b62;
}

.btn-hijau {
	padding: 7px 14px;
	font-size: 10pt;
	font-weight: 700;
	color: #fff;
	background-color: #00d52d;
	border: 2px solid #0b7800;
	box-shadow: none;
}

.btn-hijau:hover {
	background-color: #00a222;
	border-color: #00901e;
}

.btn-dark {
	font-size: 12pt;
  	color: #fff;
  	background-color: #343a40;
  	border: #59626b;
  	float: left;
  	box-shadow: none;
}

.btn-dark:hover {
	background-color: #24282c;
	border-color: #121416;
}

.btn-dark2 {
	font-size: 12pt;
  	color: #fff;
  	background-color: #343a40;
  	border: #59626b;
  	float: right;
  	box-shadow: none;
}

.btn-dark2:hover {
	background-color: #24282c;
	border-color: #121416;
}

.btn-merah {
	font-size: 12pt;
  	color: #fff;
  	background-color: #dc3545;
  	border: #dc3545;
  	float: right;
  	margin-left: 20px;
  	box-shadow: none;
}

.btn-merah:hover {
	background-color: #c82333;
	border-color: #bd2130;
}

.tengah{
	margin: 10px 395px auto;
	padding: 10px 10px 10px 10px;
}

.kotak {
	background-color: #eee;
	padding: 20px;
	float: none;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 0px 5px 1px;
	border: none;
}

.tabel {
	border: 0;
	width: 100%;
	border: 0px solid #fff;
	font-size: 14pt;
	/*display: table-cell;*/
	border-collapse: collapse;
	/*white-space: normal;*/
    /*line-height: normal;*/
    /*border-spacing: 2px;*/
    /*font-variant: normal;*/
}

.tabel tr th{
	border: 2px solid #000;	
}

.tabel tr td {
	background-color: transparent;
	text-align: left;
}


.tabel th{
	padding: 15px 10px;
    background: transparent;
    text-align: center;
    color: #fff;
    font-weight: 900;
    border: 0;
}
 
.tabel td {
    padding: 12px 10px;
    /*border: 1px solid #000;*/
    text-align: center;
}


.textbox{
	padding: 0px 10px;
	height: 30px;
	width: 255px;
	font-size: 14px;
	background-color: #fff;
	border: 2px solid grey;
}
.textbox:focus{
	border: 2px solid blue;
}

.textbox2{
	padding: 0px 10px;
	height: 35px;
	width: 280px;
	font-size: 14px;
	background-color: #fff;
	border: 2px solid grey;
}
.textbox2:focus{
	border: 2px solid blue;
}

@media screen and (max-width: 960px) {
	.tengah{
		margin: 10px 150px auto;
	}

	.kotak {
		position: inherit;
	}
}

@media screen and (max-width: 460px) {
	.tengah {
		position: inherit;
		margin: 10px 50px auto;
	}

	.textbox {
		height: 20px;
		width: 115px;
	}

	.textbox2 {
		height: 25px;
		width: 139px;
	}

	.tabel{
		font-size: 12pt;
	}

	.btn{
		padding: 5px 10px;
		font-size: 10pt;
		margin-left: 5px;
	}

}