body{
	background-color: #d5ffff;
	font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

*{
	margin:0;
	padding: 0;
}

#header{
	background: #00dbe3;	
	color: #fff;
	position: fixed;
	width: 100%;
	padding: 15px;
	text-align: center;
	border-bottom: 1px solid #1a9599;
	box-shadow: 1px 1px 3px 1px #1a9599; 
}

.top_bar{
	background: url('background.jpg');
	padding: 23px;
	margin: 10px;
	padding-left: 50px;
}

.hidden {
	margin-top: 80px;
}

.jarak-left1{
	margin-left: 20px;
}

.btn {
	padding: 10px 20px;
	text-decoration: none;
	border-radius: 5px;
	font-weight: 500;
}

.btn-biru {
	font-size: 14pt;
  	color: #fff;
  	background-color: #0036ff;
  	border: 2px solid #000b78;
  	box-shadow: none;
}

.btn-biru:hover {
	background-color: #002fdd;
	border-color: #545b62;
}

.btn-biru2 {
	font-size: 12pt;
  	color: #fff;
  	background-color: #0036ff;
  	border: #0028bb;
  	box-shadow: none;
}

.btn-biru2:hover {
	background-color: #002fdd;
	border-color: #545b62;
}

.btn-hijau {
	padding: 7px 14px;
	font-size: 10pt;
	font-weight: 700;
	color: #fff;
	background-color: #00d52d;
	border: 2px solid #0b7800;
	box-shadow: none;
}

.btn-hijau:hover {
	background-color: #00a222;
	border-color: #00901e;
}

.tengah{
	margin: 10px 150px auto;
	padding: 10px 10px 10px 10px;
}

.kotak {
	background-color: #eee;
	padding: 20px;
	float: none;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0px 0px 5px 1px;
	border: none;
}

.tabel {
	border: 0;
	width: 100%;
	border: 1px solid #fff;
	/*display: table-cell;*/
	border-collapse: collapse;
	/*white-space: normal;*/
    /*line-height: normal;*/
    /*border-spacing: 2px;*/
    /*font-variant: normal;*/
}

.tabel tr th{
	border: 2px solid #000;	
}

.tabel tr td {
	background-color: #fff;
}


.tabel th{
	padding: 15px 10px;
    background: #00aeef;
    text-align: center;
    color: #fff;
    font-weight: 900;
    border: 0;
}
 
.tabel td {
    padding: 12px 10px;
    border: 1px solid #000;
    text-align: center;
}
 
.tabel2 {
	border: 0;
	padding: 5px 5px;
	border: 1px solid #fff;
	/*display: table-cell;*/
	border-collapse: collapse;
	/*white-space: normal;*/
    /*line-height: normal;*/
    /*border-spacing: 2px;*/
    /*font-variant: normal;*/
}

.tabel2 tr th{
	border: 2px solid #000;	
}

.tabel2 tr td {
	background-color: #fff;
}


.tabel2 th{
	padding: 15px 10px;
    background: #00aeef;
    text-align: left;
    color: #fff;
    font-weight: 900;
    border: 0;
}
 
.tabel2 td {
    padding: 12px 10px;
    border: 1px solid #000;
    text-align: left;
}

@media screen and (max-width: 960px) {
	.tengah{
		margin: 10px 30px auto;
	}
}